<!DOCTYPE html>
<html lang="en" dir="ltr"
xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>MJS - Page d'authentification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/authentification.css}">
    <link rel="icon"
      type="image/png"
      th:href="@{/img/mjsFavicon.png}">
  </head>
  <body>
	<div> bonjour <td th:text="${email}">1</td></div>
  
</body>
</html>
